<header id="header">
  <nav
    class="container flex__container flex-justify__space-between"
    id="navbar"
  >
    <button class="nav-button display-none-md">
      <span></span>
    </button>
    <a href="#" id="logo" class="display-sm-none">Logo</a>
    <div class="user-actions__container">
      <ul class="flex__container">
        <li
          class="flex__container flex-align__center flex-direction__row-reverse"
        >
          Cart
          <img
            src="../../assets/shopping-cart__image.svg"
            alt="shopping cart image"
          />
        </li>
        <li class="flex__container flex-align__center">
          Sign in
          <img src="../../assets/user-logo__image.svg" alt="user logo image" />
        </li>
      </ul>
    </div>
  </nav>
  <form class="search-bar__container">
    <label id="search-bar__input-label" for="search" class="screen-reader-only"
      >search for an item:</label
    >
    <input
      type="search"
      id="search"
      name="search"
      class="search-bar__input"
      placeholder="Press enter to search..."
      aria-label="Search for an item"
      required
    />
    <button class="search-bar__icon" type="submit">
      <img src="../../assets/search-bar__icon.svg" alt="search icon" />
    </button>
  </form>
</header>
