<footer id="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__column social-icons__container">
        <h2 class="footer__heading text-center">Follow us</h2>
        <ul class="social-icons__list">
          <li>
            <a href="#" target="_blank" rel="noopener"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener"
              ><i class="fab fa-google-plus"></i
            ></a>
          </li>
        </ul>
      </div>

      <div class="footer__column newsletter-signup">
        <h3 class="footer__heading newsletter-signup__heading text-center">
          Signup to our mailing list
        </h3>
        <form class="newsletter-signup__form" action="" method="post">
          <input
            class="newsletter-signup-input__email"
            type="email"
            name="email"
            id="email"
            required
          />
          <button class="newsletter-signup-input__submit" type="submit">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</footer>
