@import "/src/variables";
@import "/src/typography";
@import "/src/mixins";
@import "/src/utilities";

.cart-widget {
  &__wrapper {
    position: fixed;
    z-index: 1001;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;

    &-active {
      visibility: visible;
    }
  }

  &__overlay {
    opacity: 0;

    &-active {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }

  &__container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30;
    right: 0;
    top: 0;
    visibility: hidden;
    background-color: $white;
    transition: width 0.5s ease 0s, visibility 0.5s ease 0s;
    flex-flow: column;
    min-height: 100vh;

    &-active {
      display: flex;
      width: 30rem;
      position: fixed;
      visibility: visible;
      opacity: 1;

      @include smart-phone() {
        width: 34rem;
      }
    }
  }

  &__header {
    padding: 2.5rem 1.8rem;
    border-bottom: 0.06rem solid $grey;

    h2 {
      font-size: 1.8rem;
      font-weight: font-weights(bold);
    }
  }

  &-close__button {
    font-size: 1.5rem;
    font-weight: font-weights(bold);
  }
}

.cart-items__container {
  padding: 0 1.8rem;
  flex: 1;
  overflow-y: scroll;

  .cart-item {
    padding: 1.8rem 0;

    &:not(:last-child) {
      border-bottom: 0.01rem solid $grey;
    }

    &-image__container {
      width: 10rem;
    }

    &-info__container {
      padding: 0 1.6rem;
    }

    &-name__container {
      font-weight: font-weights(bold);
      p {
        margin-bottom: 0.8rem;
      }
    }

    &-price__container {
      span {
        margin-left: 1rem;
      }
      & p:nth-child(2) {
        margin-top: 0.5rem;
      }
    }

    &__price {
      span {
        font-weight: font-weights(bold);
        font-size: 2rem;
        color: red;
      }
    }
  }
}

.cart-widget {
  &__footer {
    padding: 2rem 1.8rem;
    border-top: 0.1rem solid $grey;

    .subtotal__container {
      h2 {
        font-weight: font-weights(bold);
        font-size: 2rem;
      }
    }
  }
}
