@import "/src/variables";
@import "/src/utilities";

#header {
  background-color: $dark-moderate-blue;
  padding: 2rem;
  margin-bottom: 3rem;
  color: $white;
}

#navbar {
  margin-bottom: 2rem;
}

.nav-button {
  background: none;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &::before {
    transform: translateY(-0.5rem);
  }

  &::after {
    transform: translateY(0.5rem);
  }
  &::before,
  &::after,
  > span {
    background-color: $white;
    content: "";
    display: block;
    height: 0.3rem;
    width: 2.8rem;
    transition: 0.3s ease-in;
  }
}

.user-actions__container {
  img {
    width: 2rem;
    height: 2rem;
  }

  > ul {
    > li {
      font-family: "Neuton", sans-serif;
    }
    > li:not(:last-child) {
      margin-right: 1rem;
      > img {
        margin-right: 0.5rem;
      }
    }

    > li:last-child {
      img {
        margin-left: 0.5rem;
      }
    }
  }
}

.search-bar__container {
  position: relative;
  margin-bottom: -3.5rem;
  > .search-bar {
    &__input {
      background-color: #fffbfb;
      color: rgba(0, 0, 0, 0.8);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      border-radius: 0.6rem;
      padding: 0.8rem 1.5rem 0.8rem 3.8rem;
      width: 100%;
    }

    &__icon {
      position: absolute;
      width: 2.2rem;
      height: 2.2rem;
      left: 1rem;
      right: 14.63%;
      top: 18%;
      bottom: 14.63%;
    }
  }
}
