<div class="add-to-cart__container">
  <div class="flex__container flex-direction__column add-to-cart__content">
    <h3 class="heading product__name">Black satin top dress</h3>
    <p class="product__price">{{ 24 | currency: "USD" }}</p>

    <form action="" method="post">
      <label for="quantity"></label>
      <input
        type="number"
        name="product-input__quantity"
        id="product-input__quantity"
        class="product-input__quantity"
      />
      <fieldset class="fieldset__color">
        <legend>
          color: <span>{{ selectedColor }}</span>
        </legend>
        <label *ngFor="let color of colors; index as i" for="{{ color.name }}">
          <input
            type="radio"
            name="color"
            id="{{ color.name }}"
            value="{{ color.name }}"
            class="input__color-option"
            (change)="colorInputChangeHandler($event.target.value, i)"
          />
          <span>{{ color.name }}</span>
        </label>
      </fieldset>

      <fieldset class="fieldset__size">
        <legend>
          size: <span>{{ selectedSize }}</span>
        </legend>
        <label
          *ngFor="let size of sizes"
          for="{{ size }}"
          class="lbl-input__size-option"
        >
          <input
            type="radio"
            name="size"
            id="{{ size }}"
            value="{{ size }}"
            (change)="sizeInputChangeHandler($event.target.value)"
          /><span>{{ size }}</span></label
        >
      </fieldset>

      <button type="submit" class="btn-add__to-cart text-center">
        Add to cart
      </button>
    </form>

    <div class="subtotal__container">
      <h5 class="subtotal-label">Subtotal</h5>
      <p class="subtotal__value">{{ 249.99 | currency: "USD" }}</p>
    </div>
  </div>
</div>
