@import "../../../../utilities";
@import "../../../../variables";

:root {
  --bg-color-picked: #000;
}

.add-to-cart {
  &__container {
    p {
      font-size: 2rem;
      font-weight: font-weights(regular);
    }

    fieldset {
      margin-bottom: 2rem;

      legend {
        font-weight: font-weights(bold);
        font-size: 2rem;
        margin-bottom: 0.75rem;

        span {
          font-weight: font-weights(regular);
          margin-left: 0.4rem;
        }
      }

      label {
        cursor: pointer;
      }

      input[type="radio"] {
        opacity: 0;
        width: 0;
        height: 0;

        + span {
          margin: 0 0.4rem 0 0;
        }

        &.input {
          &__color-option {
            + span {
              font-size: 0;
            }

            + span::before {
              content: "";
              display: inline-block;
              width: 2rem;
              height: 2rem;
              transform: translateY(0.5rem);
              border: 0.15rem solid $white;
              box-shadow: 0 0 0 0.1rem $grey;
              border-radius: 50%;
              margin-right: 0.75rem;
              transition: 0.5s ease all;
            }

            &:checked {
              + span::before {
                background-color: var(--bg-color-picked);
                box-shadow: 0 0 0 0.2rem $grey;
              }
            }
          }
        }

        &:focus {
          + span::before {
            box-shadow: 0 0 0 0.2rem $grey;
          }
        }
      }

      .lbl-input {
        &__size-option {
          span {
            display: inline-block;
            border: 0.15rem solid $white;
            box-shadow: 0 0 0 0.1rem $grey;
            width: 2.5rem;
            height: 2.5rem;
            text-align: center;
            margin-right: 1rem;
          }

          > input {
            &:checked {
              + span {
                box-shadow: 0 0 0 0.2rem $grey;
              }
            }

            &:focus {
              + span {
                box-shadow: 0 0 0 0.2rem $grey;
              }
            }

            &:hover {
              + span {
                box-shadow: 0 0 0 0.2rem $grey;
              }
            }
          }
        }
      }
    }
  }

  &__content {
    max-width: 29.5rem;
    margin: auto;
    padding: 1.4rem;

    .btn-add__to-cart {
      color: $white;
      background-color: $pink;
      font-weight: font-weights(bold);
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      padding: 1.4rem;
      margin: 1.5rem 0rem;
      width: 100%;
    }
  }
}
