<div class="product__card">
  <figure>
    <img
      src="{{product.image}}"
      alt="dress image"
    />

  </figure>
  <div class="product-card__data">
    <div class="product-card__info">
      <p>{{product.name}}</p>
      <p>{{ product.price | currency: "USD" }}</p>
    </div>
    <div class="product-card__details">
      <p>{{product.description}}</p>
      <p>
        rating:
        <ng-container *ngFor="let star of stars"
          ><app-star-rating></app-star-rating
        ></ng-container>
      </p>
    </div>
  </div>

  <a href="" class="btn-add__to-cart text-center">Add to cart</a>
</div>
