<main class="container layout">
  <div class="hero__section">
    <ul class="category-list__container flex__container">
      <li class="category-list__item">Dresses</li>
      <li class="category-list__item">bags</li>
      <li class="category-list__item">shoe</li>
      <li class="category-list__item">categories</li>
    </ul>
    <h1 class="heading">Trending</h1>
    <div class="hero-image__container">
      <a href="#" class="cta cta__shop text-center">Shop now</a>
    </div>
  </div>
</main>
