.scrollable-container {
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.grid-auto-columns {
  grid-auto-columns: minmax(15.5rem, 18rem);
  -ms-grid-columns: minmax(15.5rem, 18rem);
}

.cards-end-spacer::after {
  content: "";
  width: 0.1rem;
}
