<div
  class="container px-4 text-indigo-800 font-normal max-w-screen-lg lg:m-auto lg:px-0"
>
  <ul class="mb-4 flex">
    <li class="font-semibold text-sm capitalize relative decorated-underline">
      Dresses
    </li>
    <li class="font-semibold text-sm capitalize ml-5">bags</li>
    <li class="font-semibold text-sm capitalize ml-5">shoes</li>
    <li class="font-semibold text-sm capitalize ml-5">categories</li>
  </ul>
  <h1 class="font-bold my-6 md:my-8 text-4xl">Trending</h1>

  <div class="mb-12">
    <div class="rounded-lg overflow-hidden -mb-16">
      <img
        class="h-64 w-full lg:max-w-full lg:max-h-full md:h-auto object-cover object-center"
        src="../../../assets/hero__banner.svg"
        alt="product image"
      />
    </div>
    <div class="flex mb-6">
      <a
        href="#"
        class="bg-purple-900 hover:bg-purple-500 active:bg-purple-700 p-2 text-gray-300 rounded-lg capitalize font-medium px-4 ml-auto mr-4 outline-none focus:ring"
        >Shop now</a
      >
    </div>
  </div>
</div>
