@import "./mixins";

.layout {
  padding: 0 2rem;
}

.text {
  &-capitalize {
    text-transform: capitalize;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

.text-center {
  text-align: center;
}

.heading {
  font-weight: font-weights(bold);
  font-size: 2.3rem;
  color: $dark-moderate-blue;
  margin-bottom: 1.5rem;

  @include smart-phone {
    font-size: 3rem;
  }
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.display {
  &-sm-none {
    display: none;
  }
}

.flex {
  &__container {
    display: flex;
  }

  &-align__center {
    align-items: center;
  }

  &-align__end {
    align-items: flex-end;
  }

  &-direction__row-reverse {
    flex-direction: row-reverse;
  }

  &-direction__column {
    flex-direction: column;
  }
}

.flex-justify {
  &__center {
    justify-content: center;
  }

  &__space-between {
    justify-content: space-between;
  }
}

.sr-only {
  height: 0.1rem;
  width: 0.1rem;
  overflow: hidden;
  position: absolute;
}
