@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@400;700&family=Open+Sans&display=swap");
@import "./mixins";
@import "./variables";

body {
  font-family: "Neuton", serif;
  font-size: 1.8rem;
  font-weight: font-weights(regular);
  color: $black;
  background-color: $white;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Neuton", serif;
}
