.text-center {
  text-align: center;
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.display {
  &-sm-none {
    display: none;
  }
}

.flex {
  &__container {
    display: flex;
  }

  &-align__center {
    align-items: center;
  }

  &-direction__row-reverse {
    flex-direction: row-reverse;
  }
}

.flex-justify {
  &__center {
    justify-content: center;
  }

  &__space-between {
    justify-content: space-between;
  }
}
