<footer class="bg-purple-900 text-white p-4 mt-4">
  <div class="container">
    <div>
      <div class="text-center">
        <h2 class="capitalize text-center leading-10 text-2xl">Follow us</h2>
        <ul class="flex align-center justify-center mt-4">
          <li>
            <a
              class="group mr-4 py-1 px-2 md:py-1 md:px-4 rounded-lg md:mr-2 text-3xl md:text-4xl hover:text-red-600 hover:bg-white outline-none focus:ring"
              href="#"
              target="_blank"
              rel="noopener"
            >
              <span class="sr-only">Instagram</span>
              <i
                class="fab fa-instagram transform transition-transform duration-100 group-hover:scale-125"
              ></i
            ></a>
          </li>
          <li>
            <a
              class="group mr-4 py-1 px-2 md:py-1 md:px-6 rounded-lg md:mr-2 text-3xl md:text-4xl hover:text-blue-700 hover:bg-white outline-none focus:ring"
              href="#"
              target="_blank"
              rel="noopener"
            >
              <span class="sr-only">Facebook</span>
              <i
                class="fab fa-facebook-f transform transition-transform duration-100 group-hover:scale-125"
              ></i
            ></a>
          </li>
          <li>
            <a
              class="group mr-4 py-1 px-2 md:py-1 md:px-4 rounded-lg md:mr-2 text-3xl md:text-4xl hover:text-blue-300 hover:bg-white outline-none focus:ring"
              href="#"
              target="_blank"
              rel="noopener"
            >
              <span class="sr-only">Twitter</span>
              <i
                class="fab fa-twitter transform transition-transform duration-100 group-hover:scale-125"
              ></i
            ></a>
          </li>
          <li>
            <a
              class="group text-3xl py-1 px-2 md:text-4xl md:py-1 md:px-4 rounded-lg hover:text-red-400 hover:bg-white outline-none focus:ring"
              href="#"
              target="_blank"
              rel="noopener"
            >
              <span class="sr-only">Google</span>
              <i
                class="fab fa-google-plus transform transition-transform duration-100 group-hover:scale-125"
              ></i
            ></a>
          </li>
        </ul>
      </div>

      <div class="max-w-sm m-auto">
        <h3 class="text-center my-6">Signup to our mailing list</h3>
        <form class="mt-4" action="" method="post">
          <label for="email" class="sr-only">Please enter your email:</label>
          <input
            class="bg-white text-gray-800 p-3 w-full rounded-lg outline-none focus:ring"
            type="email"
            name="email"
            id="email"
            placeholder="enter your email to sign up"
            required
          />
          <button
            class="bg-secondary-color hover:bg-pink-500 text-white text-xl font-semibold p-3 w-full rounded-lg my-6 transform transition-transform duration-100 hover:scale-105 outline-none focus:ring"
            type="submit"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</footer>
