@import "/src/partials/variables";
@import "/src/partials/mixins";
@import "/src/partials/utilities";

#footer {
  background-color: $dark-moderate-blue;
  color: $white;
  padding: 2.1rem;
}

.footer {
  &__container {
    > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    > .footer__column {
      flex: 1 1 100%;

      > .footer__heading {
        text-transform: capitalize;
        line-height: 2.5;
      }
    }
  }
}

.social-icons {
  &__container {
    text-align: center;

    > ul.social-icons__list {
      display: flex;
      align-items: center;
      justify-content: center;

      > li > a > i.fab {
        font-size: 3rem;
        margin-right: 2rem;
      }
    }
  }
}

.newsletter-signup {
  max-width: 36rem;
  margin: auto;
  & > &__form {
    > input,
    button {
      padding: 1.5rem;
      border-radius: 0.6rem;
      width: 100%;
    }
    > .newsletter-signup-input {
      &__email {
        background-color: $white;
        color: $black;
      }

      &__submit {
        color: $white;
        background-color: $pink;
        font-size: 1.8rem;
        font-weight: font-weights(bold);
        margin: 2rem 0;
        text-align: center;
      }
    }
  }
}
